
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.work-sans-font {
  font-family: "work Sans",sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  
}
/* shared style
.dis
header style
navbar related style */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.text-light-gray {
 color: #727272;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1) ;
}
.navbar {
display: flex;
gap:20px;
justify-content: space-between;
align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link {
text-decoration: none;
font-weight: 500;
display: flex;
}
.nav-item { 
   list-style: none; 
   margin-right: 30px;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
 max-width: 850px;
 margin: 0 auto;
 text-align: center;
 margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font: size 4rem; 
}
.btn-primary {
background-color: #ff900e;
color: white;
padding: 20px 25px;
font-size: 1.25rem;
font-weight: 600;
border-radius: 8px;
border: none;

}
.btn{
width: 100%;
}
/* responsive media quary */
@media screen and (max-width: 576px) {
.navbar, .navlinks{
    flex-direction: column;
}
}