
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.work-sans-font {
  font-family: "work Sans",sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  
}
/* shared style
.dis
header style
navbar related style */
.display-flex{
    display: flex;
}
.text-primary{
  color: #ff900e;  
}
.text-gray{
    color: #424242;
}
.text-light-gray {
 color: #727272;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1) ;
}
.navbar {
display: flex;
gap:20px;
justify-content: space-between;
align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link {
text-decoration: none;
font-weight: 500;
display: flex;
}
.nav-item { 
   list-style: none; 
   margin-right: 30px;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
 max-width: 850px;
 margin: 0 auto;
 text-align: center;
 margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font: size 4rem; 
}
.btn-primary {
background-color: #ff900e;
color: white;
padding: 20px 25px;
font-size: 1.25rem;
font-weight: 600;
border-radius: 8px;
border: none;

}
.btn{
width: 100%;
}
/* main section  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 120px;
}
.section-title{
    font-weight:700;
    font-size: 2.8rem;
}
.team-image-container{ 
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 24px;
}
.teams{
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
    justify-content: space-between;
}
.our-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
 
}

.feature-description{
    font-weight: 400;
    margin-left: 20px;
    align-items: center;
    text-align: center;
}
#quick-list{
    font-weight: 500;
}



















/* responsive media quary */
@media screen and (max-width: 576px) {
.navbar, 
.nav-links, 
.teams{
    flex-direction: column;
}

.team-image-container{
    grid-template-columns: repeat(1,1fr);
}
}

@media screen and (min-width: 576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
}